* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.main {
    overflow-x: hidden;
    position: absolute;
}

html {
    background-color: #D7CEC7;
    scroll-behavior: smooth;
}

body {
    color: #565656
}

/****Navigation Bar Section of Webpage****/
nav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    min-height: 8vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo {
    margin-left: 10%;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #4C061D;
    width: 5%;
}

.nav-list {
    margin-left: 18%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-list li {
    border-style: solid;
    border-width: 2px 2px;
    list-style: none;
}
.nav-list a {
    padding: 25px;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 28px;
    color: #565656;
}

.links {
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    width: 15%;
}
/****End of Navigation Bar Section****/

/****Hamburger Button Section****/
.hamburger {
    display: none;
    cursor: pointer;
}


.hamburger div {
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: #000000;
}
/****End of Hamburger Button Section****/

.intro-header, .about-header, .project-header {
    margin-left: 15%;
    padding-top: 7.5%;
    font-size: 48px;
    letter-spacing: 3px;
    line-height: 1.5em;
    text-align: left;
    color: #4C061D;
    font-weight: bold;
    width: 35%;
}

.about-header, .project-header {
    padding-top: 2%;
}

.intro-content, .about-content, .project-content {
    margin-left: 15%;
    padding-top: 1.5%;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 1.5em;
    text-align: left;
    color: #565656;
    width: 30%;
}
.project-content {
    width: 100%;
}

.aboutimg, .aboutimg2 {
    position: absolute;
    max-width: 100%;
    height: auto;
    padding-left: 33.75%;
}
.aboutimg2 {
    padding-left: 53.75%;
}

.project-container-left, .project-container-center, .project-container-right {
    background-color: #F4DECB;
    width: 20%;
    height: 65vh;
    border: 1px solid black;
    padding-top: 1.5%;
    margin-left: 0;
    padding: 0% 2% 2% 2%;
}
.project-container-left {
    float: left;
    margin-right: 5%;
}
.project-container-center {
    float: left;
    margin-right: 5%;
}
.project-container-right {
    margin-left: 50%;
}
.project-container-header {
    text-align: center;
    font-weight: bold;
    padding-top: 5%;
}
.projectimg {
    max-width: 65%;
    height: auto;
    margin: 5% 17% 10% 17%;
}

hr {
    margin-top: 7%;
    margin-left: 15%;
    border: 1px solid black;
    width: 10%;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    letter-spacing: 3px;
    margin-top: 7.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-content {
    font-size: 24px;
    line-height: 2em;
    width: 30%;
    margin-left: 10%;

}
.footer-links {
    float: right;
    padding-right: 10%;
}

a {
    color: #565656;
    text-decoration: none;
}

a:hover {
    color: #4C061D;
    font-weight: bold;
}

a.active {
    color: #4C061D;
    text-decoration: underline;
    cursor: default;
}

@media screen
and (max-width : 1500px) {
    .nav-list {
        width: 50%;
    }
}
/* Mobile Devices ----------- */
@media screen
and (max-width : 1200px) {
    .logo {
        margin-left: 5%;
        font-size: 32px;
        width: 100%;
    }
    .intro-header, .about-header, .project-header {
        margin-left: 5%;
        font-size: 42px;
        width: 90%;
    }
    .intro-content, .about-content, .project-content {
        margin-left: 5%;
        font-size: 22px;
        width: 90%;
    }
    .project-container-left, .project-container-center, .project-container-right {
        margin-top: 5%;
        width: 100%;
        height: 85vh;
        margin-left: 0;
    }
    .project-container-right {
        float: left;
    }
    .links {
        display: none;
    }
    hr {
        margin-top: 15%;
        margin-left: 5%;
        width: 25%;
    }
    footer {
        width: 100%;
        letter-spacing: 3px;
        margin-top: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .footer-content {
        font-size: 16px;
        line-height: 3em;
        width: 90%;
        margin-left: 5%;
    }
    .footer-links {
        padding-right: 5%;
    }
    .nav-list a {
        font-size: 16px;
    }
    .aboutimg, .aboutimg2 {
        padding: 0;
        position: relative;
        width: 47.5%;
    }
    .projectimg {
        padding: 0;
    }
    .nav-list {
        position: absolute;
        margin: 0;
        right: 0;
        top: 7.5vh;
        height: 80vh;
        width: 50%;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .hamburger {
        margin-right: 5%;
        display: block;
    }
}

.nav-active {
    transform: translateX(0);
}