* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.main {
    overflow-x: hidden;
}

html {
    background-color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    color: #565656
}

/****Navigation Bar Section of Webpage****/
nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo {
    margin-left: 10%;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #4C061D;
    width: 6%;
}

.nav-list {
    margin-left: 18%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-list li {
    list-style: none;
}
.nav-list a {
    padding: 25px;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 32px;
    color: #565656;
}

.links {
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    width: 15%;
}
/****End of Navigation Bar Section****/

/****Hamburger Button Section****/
.hamburger {
    display: none;
    cursor: pointer;
}


.hamburger div {
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: #000000;
}
/****End of Hamburger Button Section****/

.intro-header, .about-header, .project-header {
    margin-left: 15%;
    padding-top: 7.5%;
    font-size: 100px;
    letter-spacing: 3px;
    line-height: 1.5em;
    text-align: left;
    color: #4C061D;
    font-weight: bold;
    width: 50%;
}

.about-header, .project-header {
    padding-top: 2%;
}

.intro-content, .about-content, .project-content, p {
    margin-left: 15%;
    padding-top: 1.5%;
    font-size: 32px;
    letter-spacing: 3px;
    line-height: 1.5em;
    text-align: left;
    color: #565656;
    width: 40%;
}

.project-content {
    width: 100%;
}

.aboutimg, .aboutimg2 {
    position: absolute;
    box-shadow: 4px 4px 15px black;
    width: 25%;
    margin-left: 45%;
}
.aboutimg2 {
    display: none;
    margin-left: 45%;
}

.project-container-left, .project-container-center, .project-container-right {
    background-color: #eff0f1;
    width: 20%;
    border: 1px solid black;
    padding-top: 1.5%;
    margin-left: 0;
    text-align: center;
    padding: 0% .75% 2% .75%;
}
.project-container-left {
    float: left;
    margin-right: 5%;
}
.project-container-center {
    float: left;
    margin-right: 5%;
}
.project-container-right {
    margin-left: 50%;
}
.project-container-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 5%;
}
.projectimg {
    max-width: 65%;
    height: auto;
    margin: 5% 17% 10% 17%;
}

hr {
    margin-top: 7%;
    margin-left: 15%;
    border: 1px solid black;
    width: 10%;
}

footer {
    background-color: lightgray;
    width: 100%;
    letter-spacing: 3px;
    margin-top: 7.5%;
    padding-top: 1%;
    padding-bottom: 2%;
}
.footer-content {
    font-size: 32px;
    line-height: 1em;
    width: 40%;
    margin-left: 10%;

}
.footer-links {
    float: right;
    padding-right: 10%;
}

a {
    color: #565656;
    text-decoration: none;
}

a:hover {
    color: #4C061D;
    font-weight: bold;
}

a.active {
    color: #4C061D;
    text-decoration: underline;
    cursor: default;
}

@media screen
and (max-width : 1500px) {
    .nav-list {
        width: 50%;
    }
}
/* Mobile Devices ----------- */
@media screen
and (max-width : 1200px) {
    .main {
        position: absolute;
    }
    .logo {
        margin-left: 5%;
        font-size: 32px;
        width: 100%;
    }
    .intro-header, .about-header, .project-header {
        margin-left: 5%;
        font-size: 42px;
        width: 90%;
    }
    .intro-content, .about-content, .project-content, p {
        margin-left: 5%;
        font-size: 22px;
        width: 90%;
    }
    .project-container-left, .project-container-center, .project-container-right {
        margin-top: 5%;
        margin-left: 0;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }
    .project-container-right {
        float: left;
        margin-bottom: 10%;
    }
    .links {
        display: none;
    }
    hr {
        margin-top: 15%;
        margin-left: 5%;
        width: 25%;
    }
    footer {
        width: 100%;
        letter-spacing: 3px;
        margin-top: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .footer-content {
        font-size: 16px;
        line-height: 3em;
        width: 90%;
        margin-left: 5%;
    }
    .footer-links {
        padding-right: 5%;
    }
    .nav-list a {
        font-size: 16px;
    }
    .aboutimg, .aboutimg2 {
        margin: 0;
        box-shadow: 1px 1px 5px black;
        position: relative;
        width: 47.5%;
    }
    .aboutimg2 {
        display: inline-block;
    }
    .projectimg {
        padding: 0;
    }
    .nav-list {
        position: absolute;
        margin: 0;
        right: 0;
        top: 7.5vh;
        height: 70vh;
        width: 50%;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .hamburger {
        margin-right: 5%;
        display: block;
    }
}

.nav-active {
    transform: translateX(0);
}



  




